header{

    background-color: orange;
    height: 80px;
    display: flex;
}



.avatar {
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    line-height: 80px;
    vertical-align: center;
}



@media screen and (min-width: 991px) {
    .actions{
        display:block;
    }
    
}

.actions-icon {
    color: var(--icon-gray);
}




.bell-icon {
    font-size: 1.2rem;
    width: 60px;
    height: 60px;
    line-height: 80px ;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    background-color: white;
    
   
}    


.alert {
    height: 80px;
    background-color: var(--notific-azure);
    flex-wrap: nowrap;
    display: flex;
    
    
}

.alert-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    vertical-align: center;
    gap: 0.2rem;
    margin-top: 0.5rem;

    
    
    
 
    
}
.text-primary {
    font-size: 1rem;

   
    
    
}

.text-sub {
    font-size: 0.8rem;
    
}

.text-sub a {
    color: var(--mic-gray);
}

/* /LEFT SIDE MAIN */





/* /NOTIFICATION */

@media screen and (min-width: 991px) {
    .search-bar {
        display: block;
        width: 300px;
        
    }

    .contact-over, .chats {
        width: 300px;
    }
    .chats li {
        display: block;
    }
    
}

@media screen and (min-width: 540px) {

    .search-bar{
        display: none;
    }

    
    
}



.chats ul, li {
    display: flex;
    flex-direction: row;
}
.chats li {
    display: none;
    display: flex;
    flex-direction: row;
}


.chats {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    
    
}


.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: center;
    align-items: center;
    align-self: center;
    flex-grow: 1;
    
}

.time {
    font-size: 0.8rem;
    text-align: end;
    padding-top: 0.5rem;
    flex-shrink: 0;
    

}




    


/* right */