:root {
    /* colors */

    --primary-gray: #DADBD4;
    --bar-gray: #F3EEEA;
    --icon-gray: #B1B1B1;
    --mic-gray: #6B7376;
    --msg-green: #D5F9BA;
    --read-azure: #259AC0;
    --notific-azure: #8EDAFC;
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* LAYOUT */


.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    to top,
       #DADBD4 0%,
         #DADBD4 85%,
         #009688 85%,
         #009688 100%);
}

.chat-box {
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (min-width: 540px) {


}

   
    
@media screen and (min-width: 991px) {


    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-box {
        width: 80%;
        height: 95%;
    }
      
 
  

        
}

#left-head {
    display: none;
    height: 80px;
}

@media screen and (min-width: 540px) {

    #left-head {
        display: flex;
        width: 80px;
        
    }
    
}

@media screen and (min-width: 991px) {
    #left-head {
        display: flex;
        width: 300px;
    }
}

    



.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;

}





/* LEFT SIDE */

/* LEFT SIDE HEADER */

.container-left {
    display: none;

}

@media screen and (min-width: 540px) {
    .container-left {
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 100%;
        border: 1px solid black;
    }
}

@media screen and (min-width: 991px) {
    .container-left {
        display: flex;
        flex-wrap: nowrap;
        width: 300px;
        height: 100%;
        border: 1px solid black;
    }
}

#left-head{
    display: flex;
    justify-content: space-between;
    display:none;
    
}

.avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    line-height: 80px;
    vertical-align: center;
    margin-right: 0.8;
}

@media screen and (min-width: 540px) {
    #left-head {
        display: flex;
        flex-wrap: nowrap;
        height: 80px;
        background-color: blue;

    }
    
}

.actions {
    font-size: 1.5rem;
    padding-right: 1rem;
    height: 80px;
    line-height: 80px;
    gap: 1rem;
    vertical-align: center;
    justify-content: flex-end;
    display: flex;
}
    
    

.alert {
    display: flex;
    flex-wrap: nowrap;
    height: 70px;
    padding: 0.5rem;

}

.bell-icon {
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    line-height: 50px ;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    background-color: white;
}





.search-bar {

    height: 60px;
    line-height: 60px;
    width: 300px;
    vertical-align: center;
    text-align:  center;
    background-color: grey;
    display: flex;
    flex-direction: row;
    display: none;

    

}
.search-btn {
   
    background-color: transparent;
    border: none;
    height: 60px
    

}


#contact-over {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-self: stretch;
    

    
}

/* RIGHT SIDE */


.container-right {
    width: 100%;
    height: 100%;


   
   
}

@media screen and (min-width: 540px) {
    .container-right{
        width: calc(100% - 80px);
    }
}

@media screen and (min-width: 991px) {
    .container-right {
        width: calc(100% - 300px);
    }
}






#right-head {
   
    background-color: lightcyan;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.name {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    vertical-align: center;

}

/* MAIN MESSAGES */
/* .main-msg {
    height: calc( 100% - 80px - 80px);
    overflow-y: scroll;   
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-image: url(../img/mine.jpg);
    background-size: cover;
    gap: 1.5rem;
    padding: 0.5rem;
}



.message {
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;

}



 .my-msg {
    background-color: var(--msg-green);
    
    

 }




.ctc-msg {
    background-color: var(--mic-gray);
    
    

}

.right-msg {
    width: 300px;
    margin-left: auto;
    
  
}
.small-text {
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem;
    justify-content: flex-end;
    text-align: right;
    
    

}

.arrow-down {

    vertical-align:text-top;
    

}


.time {
    font-size: 0.8rem;
    vertical-align:bottom;
    text-align: center;
} */


.main-msg {
    height: calc( 100% - 80px - 80px);
    overflow-y: scroll;   
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-image: url(../img/mine.jpg);
    background-size: cover;
    gap: 1.5rem;
    padding: 0.5rem;
}

.message {
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.my-msg {
    background-color: var(--msg-green);
}

.ctc-msg {
    background-color: var(--mic-gray);
}

.right-msg {
    margin-left: auto;
}

.small-text {
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem;
    justify-content: flex-end;
    text-align: right;
}

.arrow-down {
    vertical-align: text-top;
}

.time {
    font-size: 0.8rem;
    vertical-align: bottom;
    text-align: center;
}



footer {
    height: 80px;
    background-color: gray;
}