:root {
    /* colors */

    --primary-gray: #DADBD4;
    --bar-gray: #F3EEEA;
    --icon-gray: #B1B1B1;
    --mic-gray: #6B7376;
    --msg-green: #D5F9BA;
    --read-azure: #259AC0;
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to top,
         #DADBD4 0%,
         #DADBD4 85%,
         #009688 85%,
         #009688 100%);
}

.row {
    display: flex;
    flex-direction: row;

}

.justify-between {
    justify-content:space-between;
}


.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    
    
    /* debug */
    border: 1px solid black;
    
    background-color: azure;
}

.side-contacts {
    width: 30%;

   

    
    border: 1px solid black;
}

.main-msg {
    width: 70%;

    
    border: 1px solid black;
    background-color: lightsalmon;
}
    
