:root {
    /* colors */

    --primary-gray: #DADBD4;
    --bar-gray: #F3EEEA;
    --icon-gray: #B1B1B1;
    --mic-gray: #6B7376;
    --msg-green: #D5F9BA;
    --read-azure: #259AC0;
    --notific-azure: #8EDAFC;
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* LAYOUT */


.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    to top,
       #DADBD4 0%,
         #DADBD4 85%,
         #009688 85%,
         #009688 100%);
}

.chat-box {
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (min-width: 540px) {


}

   
    
@media screen and (min-width: 991px) {


    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-box {
        width: 80%;
        height: 95%;
    }
      
 
  

        
}

#left-head {
    display: none;
    height: 80px;
    border-right: 1px solid gray;
}

@media screen and (min-width: 540px) {

    #left-head {
        display: flex;
        width: 80px;
        
    }
    
}

@media screen and (min-width: 991px) {
    #left-head {
        display: flex;
        width: 300px;
    }
}


.container-left {
    display: none;

}

@media screen and (min-width: 540px) {
    .container-left {
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 100%;
        
    }
}

@media screen and (min-width: 991px) {
    .container-left {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100%;
        
    }
}

#left-head{
    display: flex;
    justify-content: space-between;
    display:none;
    background-color: var(--bar-gray);
    align-items: center;
    
}

.ctc-img {
    align-items: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

#left-head .avatar {
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 60px;
    height: 60px;
    
    border-radius: 50%;
   
    margin-right: 0.8rem;
}

@media screen and (min-width: 540px) {
    #left-head {
        display: flex;
        flex-wrap: nowrap;
        height: 80px;

    }
    
}

.actions {
    font-size: 1.3rem;
    padding-right: 1rem;
    height: 80px;
    line-height: 80px;
    gap: 1rem;
    vertical-align: center;
    justify-content: flex-end;
    display: flex;
    display: none;  
}

.actions a {
    color: gray;
}
    
    

.alert {
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 0.5rem;
    display: none;
    background-color: var(--notific-azure);


}

.bell-icon {
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    line-height: 50px ;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    background-color: white;
    display: none;
    color: var(--notific-azure);
}

.primary-text {
    font-size: 1rem;
}
.text-sub a {
    color: var(--mic-gray);
    font-size: 0.9rem;
}

.alert-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: none;       
}

@media screen and (min-width: 991px) {
    .alert,
    .alert-text,
    .actions {
        display: flex;
    }

    .bell-icon {
        display:  block;;
    }
    
}


.search-bar {

    height: 50px;
    line-height: 50px;
    width: 300px;
    vertical-align: center;
    text-align:  center;
    background-color: grey;
    display: flex;
    flex-direction: row;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.search-btn {
   
    background-color: transparent;
    
    border: none;
    height: 60px;
    display: none;
    position: relative;
    top: 8px;
    left: 30px;
    

}

#search {
    display: none;
    vertical-align: center;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    border: none;

}

@media screen and (min-width: 991px) {
    
    .search-bar{
        display: flex;
    }

    #search {
        display: flex;
    }

    .search-btn {
        display: block;
    }


    
}

.chats {
    overflow-y: scroll;
    display: flex;
    padding: 0.5rem;
    
    display: none;
    background-color: white;
    flex-grow: 1;
}

.msg-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
   
    
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    justify-content: center;
    
    display: none;
    gap: 0.5rem;
}

.ctc-name {
    text-align: left;
}

.ctc-preview {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--mic-gray);
}

.msg-list .sent-time {
    align-items: end;

    
}

.sent-time {
    
    padding-right: 2px;
    display: block;
    display: none;
    font-size: 0.8rem;
    color: var(--mic-gray);
}
@media screen and (min-width: 540px) {

    
    .ctc-img, 
    .chats {
        display: block;
        
    }

}
    


@media screen and (min-width: 991px) {
    .chat,
    .msg-list,
    .preview,
    .ctc-name,
    .ctc-preview,
    li {
        display: flex;
    }

    .sent-time {
        display: block;
    }

    
}


/* RIGHT SIDE */


.container-right {
    width: 100%;
    height: 100%;


   
   
}

@media screen and (min-width: 540px) {
    .container-right{
        width: calc(100% - 80px);
    }
}

@media screen and (min-width: 991px) {
    .container-right {
        width: calc(100% - 300px);
    }
}






#right-head {
   
    background-color: var(--bar-gray);
    height: 80px;
    display: flex;
    
    
    padding: 0.5rem;

}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 90px);
}

.name {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;

}

.right-icons {
    display: flex;
    gap: 1rem;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    
    color: gray;
    font-size: 1.3rem;
}


.name span:nth-child(2) {
    font-size: 0.8rem;
    color: gray;
    
}



.message {
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;

}



 .my-msg {
    background-color: var(--msg-green);
    
    

 }




.ctc-msg {
    background-color: var(--mic-gray);
    
    

}

.right-msg {
    width: 300px;
    margin-left: auto;
    
  
}
.small-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    align-items: flex-end;
}

.arrow-down {
    font-size: 0.7rem;
    color: gray;
}


.time {
    font-size: 0.6rem;
   color: gray;
} 


.main-msg {
    height: calc( 100% - 80px - 80px);
    overflow-y: scroll;   
    display: flex;
    flex-direction: column;
    background-image: url(../img/mine.jpg);
    background-size: cover;
    gap: 1.5rem;
    padding: 0.5rem;
}

.message {
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.my-msg {
    background-color: var(--msg-green);
}

.ctc-msg {
    background-color: white;
}

.right-msg {
    margin-left: auto;
}

.small-text {
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem;
    justify-content: flex-end;
    text-align: right;
}


footer {
    height: 80px;
    background-color: var(--bar-gray);
    width: 100%;
}

.send-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#send {
    height: 60px;
    width: 370px;
    text-align: left;
    padding: 0.5rem;
    vertical-align: center;
    border-radius: 10px;
    border: none;
}

.btn-left , .btn-right {
    color: var(--mic-gray);
    font-size: 2rem;
    display: none;
}

@media screen and (min-width: 540px) {

    .btn-left,
    .btn-right {
        display: block;
    }
    #send{
        width: 80%;
    }


    
}